pyinstaller==5.6.2
numpy==1.25.2
# paddlepaddle-gpu==2.5.1
# paddleocr==2.7.0.2

opencv-python==4.5.3.56
opencv-python-headless==4.5.3.56
opencv-contrib-python==4.5.3.56

websockets==12.0
requests==2.31.0
aiohttp==3.9.1
aiosignal==1.3.1
altgraph==0.17.4
async-timeout==4.0.3
attrs==23.2.0
frozenlist==1.4.1
idna==3.6
importlib-metadata==7.0.1
multidict==6.0.4
packaging==23.2
pefile==2023.2.7
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pyserial==3.5
pywin32-ctypes==0.2.2
websockets==12.0
yarl==1.9.4
zipp==3.17.0
